@font-face {
    font-family: 'YoungSerif';
    src: url('fonts/YoungSerif-Regular.woff2') format('woff2'),
    url('fonts/YoungSerif-Regular.woff') format('woff'),
    url('fonts/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body{font-family: 'YoungSerif', serif}
.font-sans{font-family: 'Roboto', sans-serif}